*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img.hiring{
    width: 100%;
    margin-top: 72px;
}

.container{
    width: 68%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.intro h3{
    text-align: center;
    font-size: 1.5em;
    color: #FF0000;
    padding-top: 40px;
}

.vision{
    padding: 0;
}

.text{
    width: 50%;
    color: #FFFFFF;
    font-size: 1em;
    padding: 4%;
    float: left;
    text-align: justify;
}

#t1{
    padding-left: 0;
}

#t2{
    padding-right: 0;
}

.intro img{
    padding: 20px 0;
    width: 100%;
}

.criteria h3{
    text-align: center;
    font-size: 1.5em;
    color: #FF0000;
    padding: 20px;
}

.crit{
    width: 50%;
    color: #FFFFFF;
    font-size: 1em;
    padding: 4%;
    float: left;
    width: 36%;
    color: #FFFFFF;
    margin-left: 10%;
    
}

.crit img{
    width: 16%;
    margin-left: 40%;
}

.crit h4{
    text-align: center;
}

.crit h5{
    text-align: justify;
    padding: 4px;
}

img.crit1{
    padding: 20px 0;
    width: 100%;
}

/*Opening*/

.openings h3{
    text-align: center;
    font-size: 1.5em;
    color: #FF0000;
    padding: 20px 0;
}

.job{
    justify-content: center;
    align-items: center;
}

.job1{
    float: left;
    text-align: justify;
    width: 76%;
    padding: 8%;
    padding-top: 0;
}

.job1 a{
    text-decoration: none;
}

.job1 p{
    color: #FFFFFF;
    font-size: 1em;

}

.job #apply {
    width: 16%;
    align-items: end;
    padding-top: 20px;
}

button{
    border: 2px solid #FF0000;
    color: #FF0000;
    padding: 4px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background: none;
    font-style: italic;
}

button:hover{
    background-color: #FF0000;
    color: #FFFFFF;
}


body{
    background-image: url(./Image/background.png);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: contain;
    background-size: cover;
    background-attachment: fixed;
}

@media ( max-width:925px) {
    img.hiring{
        margin-top: 0;
    }
    .container h4{
        font-size: 14px;
    }

    .text{
        float: none;
        width: 100%;
        padding: 10px 0;
    }
    .container h3{
        font-size: 16px;
    }

    .crit{
        display: initial;
        float: none;
    }

    .crit img{
        width: 20%;
        margin-left: 24%;
        padding-top: 12px;
    }
    .job p{
        font-size: 14px;
    }
    
    .job1{
        display: initial;
        float: none;
    }
    .job1 #apply{
        padding: 0 0;
    
    }

}
